@import 'SuperiorThreadsDisplay';

form {
  background-color: grey;
  border: solid black 2px;
}
input {
  border: solid black 1px;
  background-color: white;
}
label{
  font-size: 15px;
  font-weight: bold;
}
